@import "tailwindcss";
@plugin "daisyui";

/* Animasi shake vertikal */
@keyframes shake {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-10px);
        /* ke atas */
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateY(10px);
        /* ke bawah */
    }
}

.shake {
    /* Jalankan animasi tak henti (infinite) */
    animation: shake 10s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}